:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
}
.links{
    align-items: center;
    text-align: center;
}
a{
    font-size: 17px;
    margin: 4px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #758ce5;
}


ul {
    align-items: center; /* Aligns items vertically if there's space */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Aligns items horizontally in the center */
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}


li {
    font-size: 17px;
    margin: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #dadada;
    color: #000000;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;
}
#information{
    text-align: left;
}


.hero {
    background-color: #eee;
    padding: 12px;
    text-align: center;
}
h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
}
p {
    text-align: center;
    color: white;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
}
.projects li {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
}

/* Style the headings */
.projects li h3 {
    margin-top: 0;
}

/* Style the paragraph text */
.projects li p {
    margin-bottom: 10px;
}

/* Style the links */
.projects li a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
}

.projects li a:hover {
    background-color: #555;
}


/* CSS for the footer */
footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}
img {
    max-width: 100%;
}
.slider-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}


/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.text1 {
    color: #000000;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
* {box-sizing: border-box}
.mySlides1, .mySlides2, .mySlides3 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: #000000;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .slideshow-container{
        max-width: 100%;
    }
}

@media (max-width: 1000px) {
    .slideshow-container{
        max-width: 90%;
    }
}

body{
    align-items: center;
    background-color: var(--bg-color);
}