@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
/* Set the height and width of the viewport */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Set the header's background color and height */
header {
    background-color: #333;
    height: 20%;
    color: white;
    padding: 0 !important;
    justify-content: center;
    align-items: center;
}
header h1{
    padding: 1%;
    margin: 0;
}
header p{
    padding: 1%;
    margin: 0;
}

/* Set the left and right sections' width and height */
.left, .right {
    height: 80%;
    width: 50%;
    position: absolute;
    top: 20%;
}

/* Set the left section's background color and style the button */
.left {
    background-color: #aaa;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

/* Set the right section's background color and style the button */
.right {
    background-color: #ccc;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    left: 50%;
}

.button-container-1 {
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid;
    border-right-color: #4d4d4d;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 40px;
    transition: 0.5s;
    letter-spacing: 1px;
}
.button-container-1 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 30px;
    margin-top:15%;
    overflow: hidden;
    font-weight: bold;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}
@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}
@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}


